pandas==2.3.3
numpy==2.3.5
torch==2.11.0
scikit-learn==1.8.0
xgboost==3.2.0
fastAPI==0.117.1
mlflow==3.8.1
python-dotenv==1.2.1
docker==7.1.0
azure-storage-blob==12.30.0
pydantic-settings==2.14.2
python-multipart==0.0.32
uvicorn[standard]